{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 30, "knowledge_revision": 73, "git_revision": "d0dbfaf37747476944d433a4f5b85a488c9499c2", "hash": "f29ebe4934da7d54843ed284ca411ce3", "format-version": 4, "code-base-name": "default", "filename": "ticketing_backend_workspace/ticketing_backend/requirements.txt", "revision_history": [{"73": "d0dbfaf37747476944d433a4f5b85a488c9499c2"}]}